html,body{
  height: 100%;
}
*{
  margin: 0px;
  padding: 0px;
}
body{
  background: radial-gradient(circle, rgba(23,1,69,1) 34%, rgba(2,2,3,1) 100%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

button{
  height: 30px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3em;
  border:solid white 2px;
  color: white;
  background-color:  rgba(23,1,69,1);
}